<div class="align-content-center">
    <h2> Hello! This is my ASP.NET Core MVC web application </h2>
    <hr/>
    <h4> With this application, you will always know what drinks you can make with the ingredients you have </h4>
</div>