<div class="offset-md-2">
    <h2>My Ingredients</h2>
    <form method="post" asp-controller="Ingredients" asp-action="Save" >
        @for(int i= 0;i < 6;i++)
        {
            <h1> ingredients </h1>
        }
        <button style="margin-top:10px;" type="submit" class="btn btn-primary">Save</button>
    </form>
</div>